* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.coluna-laranja {
    background-color: #c05625;
    width: 28%; /* Ajuste a largura conforme necessário */
    height: 100vh;
}

.conteudo {
    width: 80%; /* A largura ajusta para ocupar o espaço entre as colunas */
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
    padding-top: 30px; /* Adiciona espaço extra no topo */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 500px;
    margin-bottom: 25px;
}

main {
    flex-grow: 1;
    padding: 40px 0;
    width: 100%;
}

.calculators {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Define um grid responsivo */
    gap: 100px;
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    margin-bottom: 30px;
}

.calculator-item {
    display: flex;
    flex-direction: column; /* Empilha ícone e texto */
    align-items: center; /* Centraliza os itens */
    justify-content: center;
    text-align: center;
}

.calculator-item button {
    background-color: transparent; /* Remove fundo do botão */
    border: none; /* Remove borda do botão */
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease; /* Animação suave para o zoom */
}

.calculator-item button:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% ao passar o mouse */
}

.calculator-item button:focus {
    outline: none; /* Remove borda de foco dos botões */
}

.calculator-item img {
    width: 136px;
    margin-bottom: 20px;
    border: none; /* Remove borda da imagem */
}

.calculator-item h2 {
    font-size: 20px; /* Tamanho ajustado */
    font-weight: 700;
    color: #333;
    text-align: center;
    line-height: 1.5; /* Melhor espaçamento entre linhas */
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.tutorial-btn {
    background-color: #be8d42;
    color: white;
    border: none;
    padding: 20px 35px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 105px;
    transition: transform 0.3s ease; /* Animação para o botão tutorial */
}

.tutorial-btn:hover {
    background-color: #b4673a;
    transform: scale(1.05); /* Aumenta ligeiramente o botão tutorial ao passar o mouse */
}

footer {
    width: 100%;
    padding: 20px 0;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.logos img {
    width: 90px;
}
